<section class="ai-review-tab">
  <div class="container">
    <!-- Head of The Section Start -->
    <div class="head">
      <!-- logo img  -->
      <img src="../../../../assets/logo/icon.png" alt="tachy logo" class="img-fluid logo-icon" />
      <!-- tab title  -->

      <h4 class="tab-title">Doctor’s Decision-Support Solution (AiGuide)</h4>
    </div>
    <!-- tab  sub title  -->

    <div class="sub-head">
      <h6 class="tab-sub-title">
        AiGuide empowers doctors with clinical-evidence at the patient encounter
        to standardize the quality of care with AI.
      </h6>
    </div>
    <!-- Head of The Section End -->
    <!-- Product Item Section Start -->

    <div class="product-item-container">
      <!-- item -->
      <div class="product-item">
        <div class="img-background">
          <img src="../../../../assets/svg/profits.svg" alt="product-item" class="img-fluid img-item" />
        </div>
        <h6 class="item-title">Productivity Increase</h6>
        <p class="item-description">
          Supports the automation of the medical coding function
        </p>
      </div>
      <!-- item -->

      <div class="product-item">
        <div class="img-background">
          <img src="../../../../assets/svg/warning.svg" alt="product-item" class="img-fluid img-item" />
        </div>
        <h6 class="item-title">Reduces Undetected Errors</h6>
        <p class="item-description">
          Proactive approach to validating and auditing claims more effectively
        </p>
      </div>
      <!-- item -->

      <div class="product-item">
        <div class="img-background">
          <img src="../../../../assets/svg/bar-chart.svg" alt="product-item" class="img-fluid img-item" />
        </div>
        <h6 class="item-title">Growing & Improving by Time</h6>
        <p class="item-description">
          the deep learning model gives you better results each day
        </p>
      </div>
      <!-- item -->

      <div class="product-item">
        <div class="img-background">
          <img src="../../../../assets/svg/verified.svg" alt="product-item" class="img-fluid img-item" />
        </div>
        <h6 class="item-title">Identifies Fraud, Waste & Abuse</h6>
        <p class="item-description">
          An efficient tool to detect and intervene with FWA cases before
          payments are made
        </p>
      </div>
    </div>
    <!-- Product Item Section End -->
    <!-- Info Item Section Start -->
    <div class="info-item-container">
      <div class="row">
        <h4 class="info-title pl-3">Key Features</h4>
      </div>
      <!-- Info Container -->

      <div class="row mt-3">
        <!-- Info  -->

        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">Robust Hybrid Model</h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              Uses proprietary hybrid model of medical rules and AI algorithms
              to audit claims effectively
            </p>
          </div>
        </div>
        <!-- Info  -->
        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">Real-Time Anomaly Detector</h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              For prompt claims adjudication and prior authorization
            </p>
          </div>
        </div>
        <!-- Info  -->
        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">Advanced Neural Graphs</h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              To identify subtle abnormalities in medical claims efficiently
            </p>
          </div>
        </div>
        <!-- Info  -->
        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">Easy to use “Scenario Builder”</h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              To self-deploy instantly any rule dynamically
            </p>
          </div>
        </div>
        <!-- Info  -->
        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">Automated Comparison Tool</h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              To easily detect discrepancies between medical claims and medical
              records
            </p>
          </div>
        </div>
        <!-- Info  -->
        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">Interactive Dashboard</h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              For analyzing and visualizing data and complex patterns
            </p>
          </div>
        </div>
        <!-- Info  -->
        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">Medical Forms Reader</h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              Used to extract data from handwritten and computerized records
            </p>
          </div>
        </div>
        <!-- Info  -->
        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">Effective Communication Tool</h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              For an automated communication with healthcare providers
            </p>
          </div>
        </div>
        <!-- Info  -->
        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">Data Security & Confidentiality</h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              Data is managed with the highest levels of privacy and encryption
            </p>
          </div>
        </div>
        <!-- Info  -->
        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">Medical Network Analysis</h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              Made possible through big data driven providers’ reviews
            </p>
          </div>
        </div>
        <!-- Info  -->
        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">
              Accessible, Anytime & Anywhere with no Integration
            </h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              available 24/7 from mobile, tablet or computers
            </p>
          </div>
        </div>
        <!-- Info  -->
        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">Frictionless Experience</h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              An easy-to-use and intuitive interface with no additional skills
              needed
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Info Item Section End -->
    <!-- FAQ Section Start -->

    <div class="faq-container">
      <div class="accordion" id="AiReviewFAQsAccordion">
        <div class="card">
          <div class="card-header" id="AiReviewHeadingOne">
            <div class="card-head collapsed" data-toggle="collapse" data-target="#AiReviewCollapseOne"
              aria-expanded="true" aria-controls="AiReviewCollapseOne">
              <div class="header-title">Lorem Ipsum Topic</div>
              <div class="header-action">
                <i class="fas fa-chevron-up text-primary"></i>
              </div>
            </div>
          </div>

          <div id="AiReviewCollapseOne" class="collapse" aria-labelledby="AiReviewHeadingOne"
            data-parent="#AiReviewFAQsAccordion">
            <div class="card-body">
              <div class="card-question">
                <h6 class="question">Lorem Ipsum Question?</h6>
                <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                  is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
                  printing and typesetting industry.</p>
              </div>
              <div class="card-question">
                <h6 class="question">Lorem Ipsum Question?</h6>
                <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                  is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
                  printing and typesetting industry.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="AiReviewHeadingTwo">
            <div class="card-head collapsed" data-toggle="collapse" data-target="#AiReviewCollapseTwo"
              aria-expanded="true" aria-controls="AiReviewCollapseTwo">
              <div class="header-title">Lorem Ipsum Topic</div>
              <div class="header-action">
                <i class="fas fa-chevron-up text-primary"></i>
              </div>
            </div>
          </div>

          <div id="AiReviewCollapseTwo" class="collapse" aria-labelledby="AiReviewHeadingTwo"
            data-parent="#AiReviewFAQsAccordion">
            <div class="card-body">
              <div class="card-question">
                <h6 class="question">Lorem Ipsum Question?</h6>
                <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                  is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
                  printing and typesetting industry.</p>
              </div>
              <div class="card-question">
                <h6 class="question">Lorem Ipsum Question?</h6>
                <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                  is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
                  printing and typesetting industry.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
