<section class="hero-section">
  <!-- Info Section Start -->
  <div class="hero-info">
    <!-- Title Start -->
    <h2 class="hero-title">Request a Demo</h2>
    <!-- Title End -->
    <!-- Details Start -->
    <p class="hero-details">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <!-- Details End -->
    <!-- Action btn Start -->
    <div class="hero-btn">
      <a class="hero-demo">Request a demo</a>
      <a class="hero-booking">Book a meeting</a>
    </div>
    <!-- Action btn End -->
  </div>
  <!-- Info Section End -->
  <!-- Hero Img Start -->
  <div class="hero-img">
    <picture>
      <img src="../../assets/img/banner.png" alt="Tachy Health Product on Pc" class="hero-img img-fluid">
    </picture>
  </div>
  <!-- Hero Img End -->
</section>
