<section class="ai-claim-tab">
  <div class="container">
    <!-- Head of The Section Start -->
    <div class="head">
      <!-- logo img  -->
      <img src="../../../../assets/logo/icon.png" alt="tachy logo" class="img-fluid logo-icon" />
      <!-- tab title  -->

      <h4 class="tab-title">Claims Management Solution (AiClaim)</h4>
    </div>
    <!-- tab  sub title  -->

    <div class="sub-head">
      <h6 class="tab-sub-title">
        A Deep-Learning medical claims cognitive system which supports
        healthcare providers with validating medical claims more efficiently.
      </h6>
    </div>
    <!-- Head of The Section End -->
    <!-- Product Item Section Start -->

    <div class="product-item-container">
      <!-- item -->
      <div class="product-item">
        <div class="img-background">
          <img src="../../../../assets/svg/match-moving.svg" alt="product-item" class="img-fluid img-item" />
        </div>
        <h6 class="item-title">Identifies Coding Mismatch if any</h6>
        <p class="item-description">
          The decision-support system gives a verdict if the entered ICD and CPT
          codes are a good match
        </p>
      </div>
      <!-- item -->

      <div class="product-item">
        <div class="img-background">
          <img src="../../../../assets/svg/health-report.svg" alt="product-item" class="img-fluid img-item" />
        </div>
        <h6 class="item-title">Reduces Insurance Denials</h6>
        <p class="item-description">
          Proactive approach to validating claims effectively before sending to
          insurers
        </p>
      </div>
      <!-- item -->

      <div class="product-item">
        <div class="img-background">
          <img src="../../../../assets/svg/comment.svg" alt="product-item" class="img-fluid img-item" />
        </div>
        <h6 class="item-title">Suggests Alternative ICD-10 Codes</h6>
        <p class="item-description">
          For rejected code combinations, the algorithm displays more relevant
          ICD-10 codes to select from
        </p>
      </div>
      <!-- item -->

      <div class="product-item">
        <div class="img-background">
          <img src="../../../../assets/svg/brain.svg" alt="product-item" class="img-fluid img-item" />
        </div>
        <h6 class="item-title">Learns From Historical Claims Data</h6>
        <p class="item-description">
          Its machine learning nature helps prioritize outputs based on your
          historical claims data
        </p>
      </div>
      <!-- item -->

      <div class="product-item">
        <div class="img-background">
          <img src="../../../../assets/svg/verified.svg" alt="product-item" class="img-fluid img-item" />
        </div>
        <h6 class="item-title">Identifies Fraud, Waste & Abuse</h6>
        <p class="item-description">
          An efficient tool to detect and correct FWA cases on the spot
        </p>
      </div>
      <!-- item -->

      <div class="product-item">
        <div class="img-background">
          <img src="../../../../assets/svg/profits.svg" alt="product-item" class="img-fluid img-item" />
        </div>
        <h6 class="item-title">Productivity Increase</h6>
        <p class="item-description">
          Supports the automation of medical claims management function
        </p>
      </div>
      <!-- item -->

      <div class="product-item">
        <div class="img-background">
          <img src="../../../../assets/svg/bar-chart.svg" alt="product-item" class="img-fluid img-item" />
        </div>
        <h6 class="item-title">Growing & improving by Time</h6>
        <p class="item-description">
          The deep reinforcement learning model gives you better results each
          day
        </p>
      </div>
    </div>
    <!-- Product Item Section End -->
    <!-- Info Item Section Start -->
    <div class="info-item-container">
      <div class="row">
        <h4 class="info-title pl-3">Key Features</h4>
      </div>
      <!-- Info Container -->

      <div class="row mt-3">
        <!-- Info  -->

        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">
              Hybrid Model of Rule-Based &Machine Learning Engines
            </h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              combines the best-in-class rules and algorithms to validate
              medical claims within seconds
            </p>
          </div>
        </div>
        <!-- Info  -->
        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">
              Easy to use, Smart, and Integrated Solution
            </h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              validates medical claims efficiently based on international coding
              standards
            </p>
          </div>
        </div>
        <!-- Info  -->
        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">Accessible, Anytime & Anywhere</h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              can be accessed from mobile, tablet or computers anywhere, 24/7
            </p>
          </div>
        </div>
        <!-- Info  -->
        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">Data Security & Confidentiality</h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              Data is managed with the highest levels of privacy and encryption
            </p>
          </div>
        </div>
        <!-- Info  -->
        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">Frictionless Experience</h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              An easy-to-use, intuitive interface with no additional skills
              needed
            </p>
          </div>
        </div>
        <!-- Info  -->
        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">Accessible Anytime & Anywhere</h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              Can be accessed from mobile, computers, or tablets 24/7
            </p>
          </div>
        </div>
        <!-- Info  -->
        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">Country-Specific Localization</h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              For coding and financial rules, to support doctors with rapidly
              changing updates
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Info Item Section End -->
    <div class="faq-container">
      <div class="accordion" id="AiReviewFAQsAccordion">
        <div class="card">
          <div class="card-header" id="AiReviewHeadingOne">
            <div class="card-head collapsed" data-toggle="collapse" data-target="#AiReviewCollapseOne"
              aria-expanded="true" aria-controls="AiReviewCollapseOne">
              <div class="header-title">Lorem Ipsum Topic</div>
              <div class="header-action">
                <i class="fas fa-chevron-up text-primary"></i>
              </div>
            </div>
          </div>

          <div id="AiReviewCollapseOne" class="collapse" aria-labelledby="AiReviewHeadingOne"
            data-parent="#AiReviewFAQsAccordion">
            <div class="card-body">
              <div class="card-question">
                <h6 class="question">Lorem Ipsum Question?</h6>
                <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                  is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
                  printing and typesetting industry.</p>
              </div>
              <div class="card-question">
                <h6 class="question">Lorem Ipsum Question?</h6>
                <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                  is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
                  printing and typesetting industry.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="AiReviewHeadingTwo">
            <div class="card-head collapsed" data-toggle="collapse" data-target="#AiReviewCollapseTwo"
              aria-expanded="true" aria-controls="AiReviewCollapseTwo">
              <div class="header-title">Lorem Ipsum Topic</div>
              <div class="header-action">
                <i class="fas fa-chevron-up text-primary"></i>
              </div>
            </div>
          </div>

          <div id="AiReviewCollapseTwo" class="collapse" aria-labelledby="AiReviewHeadingTwo"
            data-parent="#AiReviewFAQsAccordion">
            <div class="card-body">
              <div class="card-question">
                <h6 class="question">Lorem Ipsum Question?</h6>
                <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                  is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
                  printing and typesetting industry.</p>
              </div>
              <div class="card-question">
                <h6 class="question">Lorem Ipsum Question?</h6>
                <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                  is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
                  printing and typesetting industry.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
