@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('../../assets/font/Ubuntu-Regular.eot'); /* IE9 Compat Modes */
  src: url('../../assets/font/Ubuntu-Regular.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/font/Ubuntu-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../assets/font/Ubuntu-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../assets/font/Ubuntu-Regular.svg') format('svg'); /* Legacy iOS */
}
