<section class="ai-code-tab">
  <div class="container">
    <!-- Head of The Section Start -->
    <div class="head">
      <!-- logo img  -->
      <img src="../../../../assets/logo/icon.png" alt="tachy logo" class="img-fluid logo-icon" />
      <!-- tab title  -->

      <h4 class="tab-title">Medical Coding Solution (AiCode)</h4>
    </div>
    <!-- tab  sub title  -->

    <div class="sub-head">
      <h6 class="tab-sub-title">
        AiCode is an AI assisted medical coding solution for an effortless
        workflow by healthcare providers.
      </h6>
    </div>
    <!-- Head of The Section End -->
    <!-- Product Item Section Start -->

    <div class="product-item-container">
      <!-- item -->
      <div class="product-item">
        <div class="img-background">
          <img src="../../../../assets/svg/profits.svg" alt="product-item" class="img-fluid img-item" />
        </div>
        <h6 class="item-title">Productivity Increase</h6>
        <p class="item-description">
          Supports the automation of the medical coding function
        </p>
      </div>
      <!-- item -->

      <div class="product-item">
        <div class="img-background">
          <img src="../../../../assets/svg/check.svg" alt="product-item" class="img-fluid img-item" />
        </div>
        <h6 class="item-title">Doing More with Less</h6>
        <p class="item-description">
          Medical coders perform more coding output with lower OPEX
        </p>
      </div>
      <!-- item -->

      <div class="product-item">
        <div class="img-background">
          <img src="../../../../assets/svg/surface.svg" alt="product-item" class="img-fluid img-item" />
        </div>
        <h6 class="item-title">Excellence in Coding</h6>
        <p class="item-description">
          Versatile and updated coding rules and errata
        </p>
      </div>
      <!-- item -->

      <div class="product-item">
        <div class="img-background">
          <img src="../../../../assets/svg/website.svg" alt="product-item" class="img-fluid img-item" />
        </div>
        <h6 class="item-title">Frictionless Experience</h6>
        <p class="item-description">
          An easy-to-use, intuitive interface with no additional skills needed
        </p>
      </div>
      <!-- item -->

      <div class="product-item">
        <div class="img-background">
          <img src="../../../../assets/svg/bar-chart.svg" alt="product-item" class="img-fluid img-item" />
        </div>
        <h6 class="item-title">Growing & Improving by Time</h6>
        <p class="item-description">
          The deep reinforcement learning model gives you better results each
          day
        </p>
      </div>
    </div>
    <!-- Product Item Section End -->
    <!-- Info Item Section Start -->
    <div class="info-item-container">
      <div class="row">
        <h4 class="info-title pl-3">Key Features</h4>
      </div>
      <!-- Info Container -->

      <div class="row mt-3">
        <!-- Info  -->

        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">An Integrated Smart Solution</h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              Caters for all coding requirements (ICD10-CM and AM, CPT, ACHI,
              DRG)
            </p>
          </div>
        </div>
        <!-- Info  -->
        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">Voice Dictation as an Input</h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              Medical coders can leverage the voice assistant tool for faster
              results
            </p>
          </div>
        </div>
        <!-- Info  -->
        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">Handwritten Charts Detection</h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              The AI handwriting recognition tool processes non-digitized
              records in seconds to the right coding output
            </p>
          </div>
        </div>
        <!-- Info  -->
        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">Coding with Artificial Intelligence</h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              The cognitive engine processes ANY digitized medical records in
              seconds to the right coding output
            </p>
          </div>
        </div>
        <!-- Info  -->
        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">Code Searching & Finding</h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              Smart searching assistance is always there to help whenever needed
            </p>
          </div>
        </div>
        <!-- Info  -->
        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">Accessible Anytime & Anywhere</h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              Can be accessed from mobile, computers, or tablets 24/7
            </p>
          </div>
        </div>
        <!-- Info  -->
        <div class="info-item col-12 col-md-6 col-lg-6 mb-2">
          <div class="info-head">
            <img src="../../../../assets/svg/check.svg" alt="item check" class="img-fluid check-icon" />
            <h4 class="tab-title">Country-Specific Localization</h4>
          </div>
          <div class="sub-head">
            <p class="info-sub-title">
              For coding and financial rules, to support doctors with rapidly
              changing updates
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Info Item Section End -->
    <div class="faq-container">
      <div class="accordion" id="AiReviewFAQsAccordion">
        <div class="card">
          <div class="card-header" id="AiReviewHeadingOne">
            <div class="card-head collapsed" data-toggle="collapse" data-target="#AiReviewCollapseOne"
              aria-expanded="true" aria-controls="AiReviewCollapseOne">
              <div class="header-title">Lorem Ipsum Topic</div>
              <div class="header-action">
                <i class="fas fa-chevron-up text-primary"></i>
              </div>
            </div>
          </div>

          <div id="AiReviewCollapseOne" class="collapse" aria-labelledby="AiReviewHeadingOne"
            data-parent="#AiReviewFAQsAccordion">
            <div class="card-body">
              <div class="card-question">
                <h6 class="question">Lorem Ipsum Question?</h6>
                <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                  is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
                  printing and typesetting industry.</p>
              </div>
              <div class="card-question">
                <h6 class="question">Lorem Ipsum Question?</h6>
                <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                  is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
                  printing and typesetting industry.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="AiReviewHeadingTwo">
            <div class="card-head collapsed" data-toggle="collapse" data-target="#AiReviewCollapseTwo"
              aria-expanded="true" aria-controls="AiReviewCollapseTwo">
              <div class="header-title">Lorem Ipsum Topic</div>
              <div class="header-action">
                <i class="fas fa-chevron-up text-primary"></i>
              </div>
            </div>
          </div>

          <div id="AiReviewCollapseTwo" class="collapse" aria-labelledby="AiReviewHeadingTwo"
            data-parent="#AiReviewFAQsAccordion">
            <div class="card-body">
              <div class="card-question">
                <h6 class="question">Lorem Ipsum Question?</h6>
                <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                  is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
                  printing and typesetting industry.</p>
              </div>
              <div class="card-question">
                <h6 class="question">Lorem Ipsum Question?</h6>
                <p class="answer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                  is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the
                  printing and typesetting industry.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
